APP_PROFILE=dev
SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=3306
DB_NAME=hill_commerce
DB_USERNAME=hill
DB_PASSWORD=hill123

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
CACHE_ENABLED=false

ROCKETMQ_ENABLED=false
ROCKETMQ_NAME_SERVER=localhost:9876
EVENT_PUBLISHER=local

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS=false
